<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>Starter Template for Bootstrap</title>

   <!-- Bootstrap core CSS -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">

   <link rel="stylesheet" href="../static/css/datepicker.css">
   

   <!-- Custom styles for this template -->
   <link href="../static/css/starter-template.css" rel="stylesheet">


   <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
   <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Fantasy Forecaster</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="/home">Home</a></li>
           <li><a href="http://linkedin.com/in/michaeldavidwong">About Me</a></li>
           <li><a href="https://docs.google.com/presentation/d/1D28oHk5KW-pGuwwnd_03M8XzfGJsFF01vJAGsB5Yez4/pub?start=true&loop=false&delayms=60000">Slides</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>

<br><br>
<div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="starter-template">
    
  
        <h2>Fantasy Forecasted!</h2>
        <p>Enter another query</p>
    </div>

    
            
        

    <div class = "container">
      <form  action="/output" method="GET">
      <div class="hero-unit">
        <label for="example1">Game Date:</label>
                <input  type="text" placeholder="Pick a game date"  id="example1" name='date'>
            </div>
            <!--
      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">Month  Name:</label>
          <input type="text" id="ID" name='month' placeholder="e.g. 2 for February ">
        </div>
    <form  action="/output" method="GET">
    
        <div class="form-group">
          <label for="ID">Date  Name:</label>
          <input type="text" id="ID" name='date' placeholder="e.g. 2">
        </div>-->
        <form  action="/output" method="GET">
        <div class="form-group">
        <label for="ID">Sorted By:</label>    
        <select name="metric">
        <option value="relative">relative</option>
        <option value="absolute">absolute</option>
        </select>
        </div><!--
    <form  action="/output" method="GET">    
        <div class="form-group">
          <label for="ID">Sorted By:</label>
          <input type="text" id="ID" name='metric' placeholder="e.g. relative or absolute">
        </div>-->
        <!--
    <form  action="/output" method="GET">    
        <div class="form-group">
          <label for="ID">Home or Away Game:</label>
          <input type="text" id="ID" name='Home' placeholder="e.g. home">
        </div>  
      -->
        <div>
          <button type="submit" class="btn btn-default btn-lg">Predict Performance!</button>
        </div>
      </form>
    </div>
    </div>
    <div class="col-md-6">
    <div class="starter-template">
    
    </div>
    </div>
    
    
    
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  
  </div> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
        <h3>Results for {{d}}</h3>
        <p class="lead">Predicted Stats Per Category.</p>
      </div>

      <table class="table table-hover">
      <tr><th>Player</th><th>Opponent</th><th>Fanduel Metric</th><th>Type</th><th> Points</th><th>3-Pointers</th><th>Rebounds</th><th>Assists</th><th>Steals</th><th>Blocks</th><th>Turnovers</th></tr>
      {% for name in df_big_sorted.index %}
      <tr><td rowspan="3"><img src={{df_big_sorted.Photo[name]}} alt="Player" style="width:120px;height:100px;"><figcaption>{{name}}</figcaption></td><td rowspan="3"><img src={{df_big_sorted.Team_Photo[name]}} alt="Player" style="width:120px;height:100px;"><figcaption>{{df_big_sorted.Conditions[name][0]}}</figcaption></td><td class="certain" rowspan="2"> {% if m %}{{df_big_sorted.FMetric_Outlook[name]}} {% else %}{{df_big_sorted.Fmetric[name]}}{% endif %}  </td><td>{{'Prediction'}}</td><td>{{ df_big_sorted.Prediction[name][0][0] }}</td><td>{{ df_big_sorted.Prediction[name][1][0]}}</td><td> {{ df_big_sorted.Prediction[name][2][0]}}</td><td>{{ df_big_sorted.Prediction[name][3][0]}}</td><td>{{ df_big_sorted.Prediction[name][4][0]}}</td><td>{{ df_big_sorted.Prediction[name][5][0]}}</td><td>{{ df_big_sorted.Prediction[name][6][0]}}</td></tr>

      <tr><td>{{'Average'}}</td><td>{{ df_big_sorted.Average[name][0] }}</td><td>{{ df_big_sorted.Average[name][1]}}</td><td> {{ df_big_sorted.Average[name][2]}}</td><td>{{ df_big_sorted.Average[name][3]}}</td><td>{{ df_big_sorted.Average[name][4]}}</td><td>{{ df_big_sorted.Average[name][5]}}</td><td>{{ df_big_sorted.Average[name][6]}}</td></tr>

      <tr><td>{{df_big_sorted.Accuracy[name][0][0]}}</td><td>{{'Accuracy %'}}</td><td>{{ df_big_sorted.Accuracy[name][0][1] }}</td><td>{{ df_big_sorted.Accuracy[name][0][2]}}</td><td> {{ df_big_sorted.Accuracy[name][0][3]}}</td><td>{{ df_big_sorted.Accuracy[name][0][4]}}</td><td>{{ df_big_sorted.Accuracy[name][0][5]}}</td><td>{{ df_big_sorted.Accuracy[name][0][6]}}</td><td>{{ df_big_sorted.Accuracy[name][0][7]}}</td></tr>

      {% endfor %}
      </table>


     </div><!-- /.container -->
    
<!--
    <div class="container">
      <div class="starter-template">
        <h3>Fanduel Metric:</h3>
        <p class="lead">Metric for Statistical Perfomance</p>
      </div>
        <table class="table table-hover">
      <tr><th>Type</th><th> Fanduel Score</th></tr>
      {% for f in fans %}
      <tr><td>{{f[0]}}</td><td>{{f[1]}}</td></tr>
      {% endfor %}
      </table>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
-->

     </div><!-- /.container -->
<!--
   <div class="container">
     <div class="starter-template">
       <h1>Bootstrap starter template</h1>
       <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
     </div>
   <table class="table table-hover">
   <tr><th>Name</th><th>Country</th><th>Population</th></tr>
   {% for city in cities %}
   <tr><td>{{ city['name'] }}</td><td>{{ city['country']}}</td><td> {{ city['population'] }}</td></tr>
   {% endfor %}
   </table>
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
 -->
   </div><!-- /.container -->


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#example1').datepicker({
                    format: "dd/mm/yyyy"

                });  
                $('#example1').datepicker().on('changeDate', function(){
          $(this).blur();
        });
            
            });
        </script>
 </body>
</html>